@import 'variable';
.footer {
    background: url(../image/moon-surface.svg) center bottom no-repeat;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0;
    position: sticky;
    margin: 26em -1.5em -1.5em;
    perspective: 50em;
    height: 31em;
}
.footer::before {
    content: "";
    position: absolute;
    width: 17.8125em;
    height: 18em;
    background: url(../image/astronaut-side-view.svg) no-repeat;
    left: 25%;
    bottom: 3em;
    transform: translateX(-8em);
}
.clink {
    border: 1px solid var(--turquoise);
    font-size: 1rem;
    display: block;
    margin: 300px auto;
    padding: 2em;
    width: 22em;
    color: var(--green);
    text-decoration: none;
    background: var(--black);
    position: relative;
}
.clink:hover {
    color: var(--green);
}
.clink__label {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
    border-bottom: 1px solid var(--green);
}
.clink svg {
    transition: all 0.3s ease-out;
}
.clink svg:hover {
    color: var(--taupe);
    filter: drop-shadow(0px 0px 5px var(--green));
}